@model IEnumerable<LGL_Client_types>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>صفة الموكل</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.client_type_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_update_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_type_disable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client_type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_update_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client_type_disable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.client_type_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.client_type_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.client_type_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
