@model LGL_Litigant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>الخصوم</h1>

<div>
    <h4>الخصوم</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.litigant_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.litigant_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creation_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creation_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_update_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_update_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.litigant_disable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.litigant_disable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.litigant_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
