@model IEnumerable<LGL_Litigant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12"> <h4>الخصوم</h4></div>
        </div>
    </div>
    <form asp-action="index" method="get">
        <div>
            <p>
                Search :<input type="text" name="searchstring" value="" />
                <input type="submit" value="search" class="btn btn-info" />
                <a asp-action="index">Remove Filter</a>
            </p>
        </div>

    </form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-responsive-sm table-bordered">
        <thead>
            <tr class="table-info">
                >
                <th>
                    @Html.DisplayNameFor(model => model.litigant_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.creation_user)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.last_update_user)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.litigant_disable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.litigant_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.creation_user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.last_update_user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.litigant_disable)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.litigant_id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.litigant_id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.litigant_id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>